/* Declaring general */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
}

.mylogo {
  flex: 1;
  text-align: center;
  overflow: hidden;
  color: #1d7874;
  padding-bottom: 0.5rem;
  font-family: "Orbitron";
}

.mylogo img {
  height: 100%;
}

.navbar {
  flex: 3;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.navbar a {
  background-color: #0a2342;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.navbar a:hover {
  background-color: #1d7874;
}

/* Header */
header {
  background-image: url(img/bg.jpg);
  background-color: #0a2342;
  background-size: cover;
  height: 20rem;
  margin-top: 5%;
}

header section {
  color: #b0d0d3;
  font-size: 2rem;
  font-family: "Orbitron";
  padding-top: 10%;
}

header > section > span {
  color: #1d7874;
  font-weight: 700;
  text-decoration: underline 2px #b0d0d3;
}
/* Main page padding */
.workflow,
.phases_container,
#myskills,
#portfolio,
#aboutme,
#socialmedia,
#contact,
footer {
  padding: 3rem 15% 3rem 15%;
}
/* Workflow section */

.workflow {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Phases */

.phases_container {
  display: flex;
  flex-direction: row;
  background-color: #0a2342;
  padding-top: 0;
}

.semi-circle {
  width: 7rem;
  height: 3.5rem;
  background-color: whitesmoke;
  border-radius: 0 0 3.5rem 3.5rem;
}

.phases__items {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phases_container h3 {
  font-size: 1.2rem;
  color: #1d7874;
}

.phases_container p {
  font-size: 0.8rem;
}

/* My Skills */
#myskills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myskills h2 {
  color: #1d7874;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0.5rem;
}

.skills__name {
  width: 120px;
  background-color: #0a2342;
  color: #b0d0d3;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.skills__progress {
  width: 100%;
  background-color: #b0d0d3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}

.skills__progress_line {
  background-color: #1d7874;
  flex-grow: 1;
}

.skills__progress_blue {
  color: #0a2342;
  padding: 0.5rem 1rem 0.5rem 0;
}

/* Till 100% */
.html {
  width: 40%;
}

.css {
  width: 50%;
}

.js,
.php {
  width: 99%;
}

.react,
.jquery,
.laravel,
.ux {
  width: 100%;
}
/* My portfolio */
#portfolio {
  background-color: #1d7874;
}

.portfolio__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.portfolio__container_row,
.portfolio__container_row {
  display: flex;
  flex-direction: row;
}
.portfolio__items {
  background-color: whitesmoke;
  width: 200px;
  height: 150px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.portfolio__itemss {
  background-color: lightgrey;
  font-size: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
}

.portfolio__itemss img {
  width: 50%;
}

#portfolio h2 {
  color: whitesmoke;
  text-transform: uppercase;
}

/* About me section */
#aboutme h2 {
  text-transform: uppercase;
}

.aboutme_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutme_items:first-child {
  background-color: #b0d0d3;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.aboutme_items:last-child {
  flex: 1;
  text-align: left;
  padding-left: 2rem;
}

.aboutme_items img {
  width: 300%;
}
/* Social Media */
#socialmedia {
  background-color: #b0d0d3;
}

.socialmedia__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#socialmedia h3 {
  color: black;
  text-transform: uppercase;
}

#socialmedia img {
  width: 70%;
  overflow: hidden;
}

/* Contact Form */
#contact {
  background-color: #0a2342;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h2 {
  text-transform: uppercase;
}
.contact__container {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#contact button {
  width: 100%;
  background-color: #1d7874;
  border: none;
  font-family: "Orbitron";
  color: whitesmoke;
  margin: 1rem 0 1rem 0;
  padding: 12px 20px;
  text-transform: uppercase;
}

textarea {
  width: 100%;
  resize: none;
}

#contact label {
  width: 100%;
  margin: 1rem 0 1rem 0;
  font-size: 0.85rem;
  text-align: left;
}

input {
  width: 48%;
  background-color: #0a2342;
  padding: 12px 0;
  border: none;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

::placeholder {
  color: whitesmoke;
}

/* Footer */
.footer__message {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #1d7874;
  line-height: 0.1rem;
  margin: 20px 0 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__message span {
  background-color: whitesmoke;
  padding: 0 10px;
}

.footer__img {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.footer__img img {
  width: 10%;
  opacity: 20%;
}

.footer__copyright {
  font-size: 0.5rem;
}
